.to-do-form .MuiBox-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(50, 168, 82);
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
  width: 400px;
}

.to-do-form__input {
  margin-top: 10px;
}

.to-do-form .to-do-form__input .MuiTextField-root {
  width: 100%;
}

.to-do-form .MuiButton-root {
  margin-top: 20px;
}

.to-do-form .text-error {
  margin: 0;
  color: red;
}
