.to-do-list .MuiGrid-container {
  padding: 25px;
}

.to-do-list .MuiGrid-grid-xs-4 {
  padding-top: 25px;
  text-align: left;
}

.to-do-list .MuiButton-contained {
  background-color: rgb(25, 118, 210);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.to-do-list .MuiGrid-grid-xs-8 {
  margin: 0px auto;
  padding-top: 25px;
}

.to-do-list .MuiGrid-grid-xs-8 > .MuiTypography-body1,
.to-do-list .MuiGrid-grid-xs-8 > .MuiTypography-body1 + .MuiTypography-body1 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.to-do-list .MuiButton-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
