.to-do-item > .MuiBox-root {
  margin-bottom: 5px;
  background-color: rgb(98, 143, 217);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.to-do-item__content {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-remove {
  cursor: pointer;
}

.to-do-item .MuiIconButton-root {
  display: inline-block;
  color: rgb(255, 255, 255);
}

.to-do-item .MuiBox-root-12 {
  display: flex;
  flex-direction: column;
}

.to-do-item .MuiTypography-root {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: left;
}

.to-do-item .MuiCheckbox-colorSecondary.Mui-checked {
  color: rgb(255, 255, 255);
}

.to-do-item .MuiTypography-root + .MuiTypography-root {
  font-size: 12px;
}

.to-do-item.active .MuiTypography-root + .MuiTypography-root {
  text-decoration: line-through;
}
